.container {
  width: 200px;
  height: 200px;
  background: orange;
  overflow-y: scroll;
  text-align: center;
}
/* 如果仅支持较新的浏览器，可以使用自定义滚动条样式 */
/* chrome safari opera edge*/
.container::-webkit-scrollbar {
  width: 5px;
}
.container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
.container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
/* firefox可以控制但不支持自定义宽度 */
.container {
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  scrollbar-width: thin;
}
